#Chatbot {
  display: flex;
  flex-direction: column;
  height: 95%; /* 부모 박스에 맞게 높이를 자동으로 조정 */
  width: 98%; /* 부모 박스에 맞게 너비 조정 */
  margin: 0;
  padding: 10px;
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.chatDiv {
  flex: 1; /* 남은 공간을 모두 채우도록 설정 */
  overflow-y: auto;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #d4d1d1;
  border-radius: 7px;
}


.message {
  margin: 10px 0;
  padding: 8px;
  border-radius: 5px;
  word-wrap: break-word; /* 긴 단어를 자동 줄바꿈 */
  
}

.message.user {
  align-self: flex-end; /* 유저 메시지를 오른쪽으로 */
  text-align: right; /* 텍스트를 오른쪽 정렬 */
}

.message.bot {
  align-self: flex-start; /* 챗봇 메시지를 왼쪽으로 */
  text-align: left; /* 텍스트를 왼쪽 정렬 */
}

.messageWait {
  color: #888;
}

.inputDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inputDiv input {
  width: 80%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.inputDiv button {
  padding: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.inputDiv button:hover {
  background-color: #45a049;
}

.bot-icon {
  margin-right: 8px;
  font-size: 20px;
}
